<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.ox82.safari.nzbmatrix</string>
       <key>Team Identifier</key>
       <string>http://blog.0x82.com</string>
       <key>CFBundleVersion</key>
       <string>1.0</string>
       <key>CFBundleShortVersionString</key>
       <string>1</string>
       <key>URL</key>
       <string>http://github.com/downloads/rubenfonseca/nzbmatrix_pogdesign_safari5/nzbmatrix_pogdesign.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
